<template>
  <v-app dark>

    <v-toolbar>
        <v-toolbar-side-icon></v-toolbar-side-icon>
        <v-toolbar-title>Billing Panel</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-toolbar-items class="hidden-sm-and-down">
           <v-btn v-if="show" flat to="/"><v-icon >featured_play_list</v-icon></v-btn>
            <v-btn v-if="show" flat to="/profile"><v-icon >account_circle</v-icon></v-btn>
             <v-btn v-if="show" flat><v-icon >notification_important</v-icon></v-btn>
            <v-btn v-if="show" flat><v-icon >settings</v-icon></v-btn>
             <v-btn flat v-if="show" @click="exit"><i class="material-icons">exit_to_app</i></v-btn>
        </v-toolbar-items>
      </v-toolbar>
    <v-content>
      <v-container fluid>
          <router-view></router-view>
      </v-container>
    </v-content>
    <v-footer app></v-footer>
  </v-app>
</template>


<script>
export default {
  name: 'Reveal',
  data: () => ({
    
    menuVisible: false
  }),
   methods: {
   exit(){
    this.$store.commit("add_active",false)
       localStorage.removeItem('api_token')
       localStorage.removeItem('auth')
       this.$router.push('/login')
     
   }
   },
    beforeMount(){
           if(localStorage.getItem('auth') != null ) this.$store.commit('add_active',true)
          //  console.log(localStorage.getItem('auth'))
          //   console.log(this.$store.state.su.auth,)
            if (!this.$store.state.su.auth) {
               this.$router.push("/login")
            }
        },
   
   computed:{
    show(){
      return  this.$store.state.su.auth
   },
   }
   

}
</script>
