<template>
    <v-layout>
        <v-flex xs12 sm6 offset-sm3>
            <v-card>
                <v-card-title primary-title>
                    <div>
                    
                        <form>
                         <v-text-field @input="$v.password.$touch()" @blur="$v.password.$touch()" v-model="password" :error-messages="passwordErrors"  :append-icon="show1 ? 'visibility' : 'visibility_off'" :type="show1 ? 'text' : 'Password'"    @click:append="show1 = !show1"   hint="Password" required></v-text-field>
                         <v-text-field @input="$v.password_r.$touch()" @blur="$v.password_r.$touch()" v-model="password_r" :error-messages="password2Errors"   :append-icon="show2 ? 'visibility' : 'visibility_off'" :type="show2 ? 'text' : 'Password'"  @click:append="show2 = !show2"   hint="Password reapet" required></v-text-field>
                        </form>
                    </div>
                </v-card-title>
                <v-btn @click="ChangePassword" :disabled="this.$v.$invalid">Update</v-btn>
                <v-card-actions>
                </v-card-actions>
            </v-card>
            <v-snackbar v-model="snackbar" :bottom="y === 'bottom'" :left="x === 'left'" :multi-line="mode === 'multi-line'" :right="x === 'right'" :timeout="timeout" :top="y === 'top'" :vertical="mode === 'vertical'">
                {{ text }}
            </v-snackbar>
        </v-flex>
    </v-layout>

</template>
<script>
 import axios from 'axios';
    import {validationMixin} from 'vuelidate'
    import {
        required,
        email,
        minLength,
        maxLength,
        sameAs
    } from 'vuelidate/lib/validators'

    export default {
        name: 'FormPass',
        mixins: [validationMixin],
        data: () => ({
            password: '',
            password_r: '',
            userSaved: false,
            sending: false,
            snackbar: false,
            y: 'top',
            x: null,
            mode: '',
            timeout: 6000,
            text: 'True again',
            show1 : false,
            show2 : false

        }),
        validations: {
             password: {
                    required,
                    minLength: minLength(3)
                },
                password_r: {
                    required,
                    minLength: minLength(3),
                    sameAsPassword: sameAs('password')
                },
        },
        computed :{
               passwordErrors () {
               const errors = []
               if (!this.$v.password.$dirty) return errors
               !this.$v.password.minLength && errors.push('Password must be at most 10 characters long')
               !this.$v.password.required && errors.push('Password is required.')
               return errors
      },
        password2Errors () {
               const errors = []
               if (!this.$v.password_r.$dirty) return errors
               !this.$v.password_r.minLength && errors.push('Password must be at most 10 characters long')
               !this.$v.password_r.required && errors.push('Password repeat is required.')
               !this.$v.password_r.sameAsPassword && errors.push('Password not equal .')
               return errors
      },
        },
      
        methods: {
         
            clearForm() {
               // this.$v.$reset()
                this.password = null
                this.password_r = null

            },
            ChangePassword() {
                this.sending = true
                this.$store.dispatch('passworChange',{
                    email: localStorage.getItem('email'),
                    password : this.password
                })
                 window.setTimeout(() => {
                  this.snackbar = true
                  this.text  = "Password change"
                  this.userSaved = true
                  this.sending = false
                  this.clearForm()
                  }, 1000)
                 
                },

           
        }
    }
</script>
