<template>
    <v-layout>
        <v-flex xs12 sm6 offset-sm3>
            <v-card>
                <v-card-title primary-title>
                    <div>
                        <v-icon>contacts</v-icon>
                        <form>
                            <v-text-field   @input="$v.name.$touch()" @blur="$v.name.$touch()" v-model="name" :error-messages="nameErrors" hint="your email" prefix="Email"  type="email" required></v-text-field>
                            <v-text-field v-model="password"  :append-icon="show1 ? 'visibility' : 'visibility_off'" :type="show1 ? 'text' : 'password'"    @click:append="show1 = !show1"   hint="Password" required></v-text-field>
                        </form>
                    </div>
                </v-card-title>
                <v-btn @click="Login">Login</v-btn>
                <v-card-actions>

                </v-card-actions>
            </v-card>
            <v-snackbar v-model="snackbar" :bottom="y === 'bottom'" :left="x === 'left'" :multi-line="mode === 'multi-line'" :right="x === 'right'" :timeout="timeout" :top="y === 'top'" :vertical="mode === 'vertical'">
                {{ text }}
            </v-snackbar>
        </v-flex>
    </v-layout>

</template>
<script>
 import axios from 'axios';
    import {validationMixin} from 'vuelidate'
    import {
        required,
        email,
        minLength,
        maxLength
    } from 'vuelidate/lib/validators'

    export default {
        name: 'Login',
        mixins: [validationMixin],
        data: () => ({
            name: '',
            password: '',
            email: '',
            checkbox: null,
            userSaved: false,
            sending: false,
            snackbar: false,
            y: 'top',
            x: null,
            mode: '',
            timeout: 6000,
            text: 'True again',
            show1 : false

        }),
        validations: {

                name: {
                    required,
                    minLength: minLength(3)
                },
                password: {
                    required,
                    minLength: minLength(3)
                },
        },
        computed :{
               nameErrors () {
        const errors = []
        if (!this.$v.name.$dirty) return errors
        !this.$v.name.minLength && errors.push('Email must be at most 10 characters long')
        !this.$v.name.required && errors.push('Email is required.')
        return errors
      },
        },
      
        methods: {
         
            clearForm() {
               // this.$v.$reset()
                this.email = null
                this.password = null

            },
            Login() {
                this.sending = true
                this.$store.dispatch('Auth',{
                    email:this.name,
                    password:this.password
                })
                 
                  window.setTimeout(() => {
                  this.userSaved = true
                  this.sending = false
                  this.clearForm()
                   if(this.$store.state.su.auth){
                     this.snackbar = true
                     this.text = "Login in "
                     this.$router.push('/')
                  }
                  else{
                    this.snackbar = true
                    this.text = "Login Failed "
                  }
               
                 }, 1000)
                 
                },

            validateUser() {
                this.$v.$touch()
                if (!this.$v.$invalid) {
                    this.saveUser()
                }
            }
        }
    }
</script>
