<template>
    <v-layout >
        <v-flex xs12 sm6 offset-sm3>
            <v-card>
                <v-card-title primary-title>
                    <div>
                       <v-icon>info</v-icon>
                        <form>
                             <v-text-field v-if="!show" v-model="ref" hint="Номер клиента" prefix="Клиент"  type="text" required></v-text-field>
                            <v-text-field v-if="show" v-model="email" hint="your email" prefix="Email"  type="email" required></v-text-field>
                          
                        </form>
                    </div>
                </v-card-title>
                <v-btn @click="CheckStatus">Проверить статус</v-btn>
               
            </v-card>
            <v-snackbar v-model="snackbar" :bottom="y === 'bottom'" :left="x === 'left'" :multi-line="mode === 'multi-line'" :right="x === 'right'" :timeout="timeout" :top="y === 'top'" :vertical="mode === 'vertical'">
                {{ text }}
            </v-snackbar>
               <v-card v-if="expire">
      
         <v-card-title primary-title>
          <div>
            <h3 class="headline mb-0">Ваш срок закончится .  </h3>
            <div class="display-2" color="red"> {{ expire }} </div>
          </div>
        </v-card-title>
        <v-card-actions>
          <!-- <v-btn flat color="orange">Share</v-btn> -->
          </v-card-actions>
      </v-card>
        </v-flex>
     
    </v-layout>


</template>




<script>
    import {validationMixin} from 'vuelidate'
    import {
        required,
        email,
        minLength,
        maxLength
    } from 'vuelidate/lib/validators'
    import axios from 'axios';

    export default {
        name: 'Status',
        mixins: [validationMixin],
        data: () => ({
            email: '',
            checkbox: null,
            userSaved: false,
            sending: false,
            snackbar: false,
            y: 'top',
            x: null,
            mode: '',
            timeout: 6000,
            text: 'True again',
            show1 : false,
            expire : null,
            show : false,
            ref : ''

        }),
        validations: {

                email: {
                    required,
                    minLength: minLength(3)
                },
               
         },
        methods: {

        CheckStatus(){
            axios.post('/status',{
                ref:this.ref
            }).then(res=>{
                this.expire =res.data.expire
            }).catch(res=>{
               console.log(res.data)
            })
        }
           
          
        }
    }
</script>