<template>
    <div>
        <v-toolbar flat color="dark">
            <v-toolbar-title></v-toolbar-title>
            <v-divider class="mx-2" inset vertical></v-divider>
            <v-spacer></v-spacer>
            <v-dialog v-model="dialog" persistent max-width="500px">
                <template v-slot:activator="{ on }">
                    <v-btn color="primary" dark class="mb-2" v-on="on">Create client</v-btn>
                </template>
                <v-card>
                    <v-card-title>
                        <span class="headline"></span>
                    </v-card-title>

                    <v-card-text>
                        <v-container>
                            <v-layout wrap justify-center column fill-height>
                                <v-flex xs12 sm6 md4>
                                    <v-text-field @input="$v.$touch()" v-model="editedItem.name" label="Name" ></v-text-field>
                                   
                                    <div class="error" v-if="!$v.editedItem.name.required">Name is required.</div>
                                    <v-text-field v-model="editedItem.email" required label="Email"></v-text-field>
                                     <v-text-field @input="$v.$touch()" v-model="editedItem.phone" required label="Phone"></v-text-field>
                                       <div class="error" v-if="!$v.editedItem.phone.required">Phone is required.</div>
                                    <v-select v-model="editedItem.bundle"  :items="optionSelect.bundle" item-value="editedItem.bundle" item-text="editedItem.bundle" label="Bundles"></v-select>
                                </v-flex>
                                <v-flex xs12 sm6 md4>
                                    <v-checkbox v-model="editedItem.choice" :label=" `Manual date select ` "></v-checkbox>
                                    <v-menu v-if="editedItem.choice" v-model="created" :close-on-content-click="false" :nudge-right="40" lazy transition="scale-transition" offset-y full-width min-width="290px">
                                        <template v-slot:activator="{ on }">
                                            <v-text-field v-model="editedItem.date" label="Select start date" prepend-icon="event" readonly v-on="on"></v-text-field>
                                        </template>
                                        <v-date-picker v-model="editedItem.date" @input="created = false"></v-date-picker>
                                    </v-menu>
                                    <v-menu v-if="editedItem.choice" v-model="finished" :close-on-content-click="false" :nudge-right="40" lazy transition="scale-transition" offset-y full-width min-width="290px">
                                        <template v-slot:activator="{ on }">
                                            <v-text-field v-model="editedItem.date2" label="Select finished date" prepend-icon="event" readonly v-on="on"></v-text-field>
                                        </template>
                                        <v-date-picker v-model="editedItem.date2" @input="finished = false" ></v-date-picker>
                                    </v-menu>
                                    <v-select v-if="!editedItem.choice"  v-model="editedItem.type" hint="Select package type" :items="optionSelect.type" item-value="id" item-text="text" label="How long"></v-select>
                                    <v-text-field v-model="editedItem.note" required label="Note"></v-text-field>
                                    <v-text-field v-model="editedItem.reference"  required label="Reference"></v-text-field>

                                    <v-text-field v-if="editedItem.expire != null " readonly v-model="editedItem.expire" label="Expire"></v-text-field>
                                    <v-checkbox v-model="editedItem.status" :label=" `Status active ` "></v-checkbox>
                                </v-flex>
                            </v-layout>
                        </v-container>
                    </v-card-text>
                    <v-card-actions>

                        <v-btn color="blue darken-1" flat @click="close">Cancel</v-btn>
                        <v-btn color="blue darken-1" flat @click="save">Save</v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
        </v-toolbar>
        <v-card>
            <v-card-title>
                Clients
                <v-spacer></v-spacer>
                <v-text-field v-model="search" append-icon="search" label="Search" single-line hide-details></v-text-field>
            </v-card-title>
            <v-data-table :loading="false" :headers="headers" :items="users" :search="search" :pagination.sync="pagination">
                <template v-slot:items="props" >

<!--                    <tr  style="border-bottom:  2px solid green" >-->

                    <tr v-bind:style="{borderBottom:'solid 2px' ,borderColor: (props.item.status)==1?color:color1}">
                        <td class="text-xs">{{ props.item.id }}</td>
                    <td class="text-xs">{{ props.item.name }}</td>
                    <td class="text-xs">{{ props.item.email }}</td>
                     <td class="text-xs">{{ props.item.phone }}</td>
                    <td class="text-xs">{{ props.item.bundle }}</td>
                    <td class="text-xs">
                        <v-edit-dialog
                            :return-value.sync="props.item.note"
                            large
                            lazy
                            persistent
                            @save="field_save(props.item.id,props.item.note)"
                            @cancel="cancel"
                            @open="field_open"
                            @close="field_close"
                        > {{ props.item.note }}
                            <template v-slot:input>
                                <v-text-field
                                    v-model="props.item.note"
                                    label="Edit"
                                    single-line
                                    counter
                                ></v-text-field>
                            </template>
                        </v-edit-dialog>

                    </td>
                    <td class="text-xs">{{ props.item.reference}}</td>
                    <td class="text-xs">{{ props.item.created }}</td>
                    <td class="text-xs">
                        {{ props.item.expire }}

                    </td>
                    <td class="text-xs">
                        <v-icon color="red " v-if="checkValidTime(props.item.expire)">highlight_off</v-icon>
                        <v-icon color="green " v-if="!checkValidTime(props.item.expire)">highlight_on</v-icon>

                    </td>
                         <td class="text-xs">

                          <v-switch true-value="1" false-value="0"  v-model="props.item.status"   @change="changeStatus(props.item.id,props.item.status)"  ></v-switch>
                         </td>
                    <td class="justify-center layout px-0">
                        <v-icon small class="mr-2" @click="editItem(props.item)">edit</v-icon>
                        <v-icon small @click="deleteItem(props.item)">delete</v-icon>

                    </td>

                     </tr>
                </template>
                <v-alert v-slot:no-results :value="true" color="error" icon="warning">
                    Your search for "{{ search }}" found no results.
                </v-alert>
            </v-data-table>
        </v-card>
        <v-snackbar v-model="snack" :timeout="3000" :color="snackColor">
            {{ snackText }}
            <v-btn flat @click="snack = false">Close</v-btn>
        </v-snackbar>
    </div>
</template>

<script>
    import moment from 'moment'
     import {validationMixin} from 'vuelidate'
     import {required,email, minLength, maxLength} from 'vuelidate/lib/validators'
    export default {
        mixins: [validationMixin],
        data() {
            let UserObj = {
                id : '',
                name: '',
                email: '',
                phone : '',
                bundle: '',
                type: '',
                created: '',
                expire: null,
                status: true ,
                note:  '',
                reference: '',
                date: new Date().toISOString().substr(0, 10),
                date2: new Date().toISOString().substr(0, 10),
                choice: false,
            }
            return {
              
                snack: false,
                snackColor: '',
                snackText: '',
                color: 'green',
                color1: 'red',
                modal: false,
                show : true,
                current_date:   moment().format("DD-MM-YYYY"),
                editedIndex: -1,
                search: '',
                dialog: false,
                created: false,
                finished: false,
                optionSelect: {
                    bundle: ["Basic", "Middle", "Vip"],
                    type: [{id:1 , text:"One day"} ,{id:2 ,text:"1 month"} , {id:3 , text:"6 month "} , {id:4 ,text:"1 years"} ],
                },
                editedItem: UserObj,
                defaultItem :UserObj,
                pagination: {
                    'sortBy': 'expire', 'descending': false, 'rowsPerPage': 10
                },
                headers: [
                    {
                        text: 'Id',
                        sortable: true,
                        value: 'id'
                    },
                    {text: 'Name', align: 'left', value: 'name'},
                    {text: 'Email', align: 'left', value: 'email'},
                     {text: 'Phone', align: 'left', value: 'phone'},
                    {text: 'Bundle', align: 'left', value: 'bundle'},
                    {text: 'Note', align: 'left', value: 'note'},
                    {text: 'Reference', align: 'left', value: 'reference'},
                    {text: 'Created', align: 'left', value: 'created', sortable: false},
                    {text: 'Expire', align: 'left', value: 'expire'},
                    {text: 'Status', align: 'left', value: 'status'},
                    {text: 'Active', align: 'left', value: 'status'},

],

            }
        },
        validations: {
        editedItem:{
             name :{ required },
             phone : { required }

        }
        
        
          },
        methods: {
            close() {
                this.dialog = false
               //
                setTimeout(() => {
                   // this.editedItem = Object.assign({}, this.defaultItem )
                    this.editedItem = {...this.editedItem, ...this.defaultItem }
                    this.editedIndex = -1
                }, 300)
            },
            changeStatus(id,st){
                this.$store.dispatch('updateStatus',{
                    id:id,
                    status:st
                })
                this.snack = true
                this.snackColor = 'success'
                this.snackText = 'Status updated'
                this.$store.dispatch('getUsers')

            },

            save() {
                if (this.editedIndex > -1) {
                    let user  = Object.assign(this.users[this.editedIndex], this.editedItem)
                    this.$store.dispatch('updateUser', user)
                    this.snack = true
                    this.snackColor = 'success'
                    this.snackText = 'Client updated'
                } else {
                    this.$store.dispatch('createUser',this.editedItem)
                    this.snack = true
                    this.snackColor = 'success'
                    this.snackText = 'Client created'
                }
                this.$store.dispatch('getUsers')
                this.close()
            },
            editItem(item) {
                this.editedIndex = this.users.indexOf(item)
               // this.editedItem = Object.assign({}, item)
                this.editedItem = {...this.editedItem ,...item}
                this.dialog = true
            },

            deleteItem(item) {

                confirm('Are you sure you want to delete this item?') && this.del(item.id)
            },


            del(id) {
                this.$store.dispatch('deleteUser', id);
            },

            searchOnTable() {
                this.search = toLower(this.search)
            },

            customSort(items, index, isDesc) {

                items.sort((a, b) => {

                    if (index === "expire") {
                        console.log(b.expire, a.expire)
                        if (!isDesc) {

                            return b.expire - a.expire;
                        } else {
                            return a.expire - b.expire;
                        }
                    } else {
                        if (!isDesc) {
                            return a[index] < b[index] ? -1 : 1;
                        } else {
                            return b[index] < a[index] ? -1 : 1;
                        }
                    }
                });
                return items;
            },

            checkValidTime(exp){
                let  t= moment(exp).isBefore(moment().format('YYYY-MM-DD'))
                return t
            },

            field_save (id,note) {
                this.snack = true
                this.snackColor = 'success'
                this.snackText = 'Data saved'
                this.$store.dispatch('updateNote',{id: id, note:note})
            },
            cancel () {
                this.snack = true
                this.snackColor = 'error'
                this.snackText = 'Canceled'
            },
            field_open () {

            },
            field_close () {
                console.log('Dialog closed')
            },
           
        },

       

        created() {
            
            this.searched = this.users
            this.$store.dispatch('getUsers')
           },

       
        computed: {
            users() {

                return this.$store.state.users
            }
        }

    }
</script>
<style lang="scss" scoped>

</style>
